html {
    height: 100%;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body.darkmode,
.calculator-container {
    background: linear-gradient(rgb(46, 46, 46), rgb(15, 15, 15));
}
footer {
    padding: 15px;
    background:linear-gradient(rgb(19, 19, 19), rgb(12, 12, 12));
}
button {
    width: 100%;
    height: 100%;
    background-color: rgb(90, 90, 90);
    font-size: 25px;
}
.page-container,
.calculator-container,
.display {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.page-container {
    justify-content: space-around;
    height: 100vh;
}
.calculator-container {
    height: 550px;
    border-style: solid;
    width: 400px;
    margin-top: -100px;
    justify-content: center;
    row-gap: 20px;
}
.display,
.buttons {
    width: 90%;
}
.display {
    height: 20%;
    border-style: solid;
    padding-top: 10px;
    padding-right: 10px;
    align-items: flex-end;
    background-color: rgb(34, 34, 34);
}
.operator {
    background-color: rgb(201, 91, 79);
}
#equal {
    background-color:rgb(109, 43, 36)
}
.buttons {
    height: 70%;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}
#display-upper {
    height: 30%;
    font-size: 25px;
}
#display-lower {
    height: 70%;
    font-size: 50px;
}
#clear,
#delete {
    background-color:rgb(27, 114, 85);
}
#decimal,
#plusminus {
    background-color:rgb(106, 50, 117);
}
#clear {
    grid-area: 1 / 1 / 2 / 3;
}